
```
*.log
*.pid
*.seed

build/
dist/
lib/

node_modules/

npm-debug.log
yarn-error.log
yarn.lock

*.js.map

*.min.js
*.min.css

.env
.config.js
config.local.js

*.log
*.out

*.swp
*.swo

*.orig

*.gz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

proxy.conf.json

.vscode/
.idea/

/out/
/dist/

/test-results/
*.test.js
*.spec.js
```
